@font-face {
    font-family:dktz;
    src: url(https://use.typekit.net/pf/hi/dktz/n4/l?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/dktz/n4/d?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/dktz/n4/a?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype")
    font-weight:400
    font-style:normal
}

@font-face {
    font-family:dktz;
    src: url(https://use.typekit.net/pf/hi/dktz/i4/l?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/dktz/i4/d?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/dktz/i4/a?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:400;
    font-style:italic;
}

@font-face {
    font-family:fjdz;
    src: url(https://use.typekit.net/pf/hi/fjdz/n4/l?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/fjdz/n4/d?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/fjdz/n4/a?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:fjdz;
    src: url(https://use.typekit.net/pf/hi/fjdz/i4/l?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/fjdz/i4/d?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/fjdz/i4/a?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:400;
    font-style:italic;
}

@font-face {
    font-family:pkhl;
    src: url(https://use.typekit.net/pf/hi/pkhl/n7/l?subset_id=1&fvd=n7&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/pkhl/n7/d?subset_id=1&fvd=n7&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/pkhl/n7/a?subset_id=1&fvd=n7&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:700;
    font-style:normal;
}

@font-face {
    font-family:tgbx;
    src: url(https://use.typekit.net/pf/hi/tgbx/n4/l?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/tgbx/n4/d?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/tgbx/n4/a?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:gylc;
    src: url(https://use.typekit.net/pf/hi/gylc/n4/l?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/gylc/n4/d?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/gylc/n4/a?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:dgxw;
    src: url(https://use.typekit.net/pf/hi/dgxw/n4/l?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/dgxw/n4/d?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/dgxw/n4/a?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:dgxw;
    src:url(https://use.typekit.net/pf/hi/dgxw/i4/l?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/dgxw/i4/d?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/dgxw/i4/a?subset_id=1&fvd=i4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:400;
    font-style:italic;
}

@font-face {
    font-family:wfzc;
    src: url(https://use.typekit.net/pf/hi/wfzc/n7/l?subset_id=1&fvd=n7&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/wfzc/n7/d?subset_id=1&fvd=n7&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/wfzc/n7/a?subset_id=1&fvd=n7&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:700;
    font-style:normal;
}

@font-face {
    font-family:kllt;
    src: url(https://use.typekit.net/pf/hi/kllt/n5/l?subset_id=1&fvd=n5&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"),url(https://use.typekit.net/pf/hi/kllt/n5/d?subset_id=1&fvd=n5&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"),url(https://use.typekit.net/pf/hi/kllt/n5/a?subset_id=1&fvd=n5&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:500;
    font-style:normal;
}

@font-face {
    font-family:hlbd;
    src: url(https://use.typekit.net/pf/hi/hlbd/n4/l?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/hlbd/n4/d?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/hlbd/n4/a?subset_id=1&fvd=n4&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:lhzg
    src: url(https://use.typekit.net/pf/hi/lhzg/n3/l?subset_id=1&fvd=n3&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff2"), url(https://use.typekit.net/pf/hi/lhzg/n3/d?subset_id=1&fvd=n3&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("woff"), url(https://use.typekit.net/pf/hi/lhzg/n3/a?subset_id=1&fvd=n3&ec_token=f3oJY%2FM01UJrzteb2bruW%2FcUJKCtYImSFZvvFg57ZSmqmLsK3kNT%2BQG2e%2F9lARfKWQOpVR6YI8OTWLNLszSYyjIxWuOpZiYPalsz3dFtYDU%3D),
    format("opentype");
    font-weight:300;
    font-style:normal;
}